<tr>
  <td class="user">
    <span class="content"><%= comp.prize %></span>
  </td>
  <td>
    <%= link_to "delete", comp, :method => :delete,
                                :confirm => "You sure?",
                                :title => comp.prize %>
  </td>

  <br />
</tr>