<tr>
  <td class="user">
    <span class="content"><%= comp.id %></span>
  </td>
  <td>
    <%= link_to "delete", comp, :method => :delete %>
  </td>
  <td>
    <%= link_to "edit", edit_comp_path(comp.id) %>
  </td>

  <br />
</tr>